{{ define "main" }}
  <div class="j-module n j-header"><h1>{{ .Title }}</h1></div>
  <div class="j-module n j-hgrid cc-clearover">
    <div class="cc-m-hgrid-column" style="width:49%;">
      <div class="j-module n j-imageSubtitle">
        <figure class="cc-imagewrapper cc-m-width-maxed">
          {{ partial "img.html" (dict "src" "/images/albin-schmidt-musikkapelle-bad-wiessee.jpg" "alt" "Gründer Albin Schmidt - 1927" "style" "max-width:100%;height:auto;") }}
          <figcaption>Gründer Albin Schmidt - 1927</figcaption>
        </figure>
      </div>
      <div class="j-module n j-header"><h2>Vorstände</h2></div>
      <div class="j-module n j-text">
        <ul>
          <li>Floßmann Leonhard – 1927 bis 1940 (Auflösung wegen Krieg)</li>
          <li>Maier Josef (Schustermann) – 1966 bis 1987 (von 1940 bis 1966 nur Musikkapelle)</li>
          <li>Grieblinger Josef – 1987 bis 1992</li>
          <li>Zehetmeier Johann – 1993 bis 2011</li>
          <li>Korbinian Herzinger – seit 2012</li>
        </ul>
      </div>
    </div>
    <div class="cc-m-hgrid-column last" style="width:49%;">
      <div class="j-module n j-imageSubtitle">
        <figure class="cc-imagewrapper cc-m-width-maxed">
          {{ partial "img.html" (dict "src" "/images/vorstandschaft-musikkapelle-bad-wiessee-2012.jpg" "alt" "Generationenwechsel in der Vorstandschaft 2012" "style" "max-width:100%;height:auto;") }}
          <figcaption>Generationenwechsel in der Vorstandschaft 2012</figcaption>
        </figure>
      </div>
      <div class="j-module n j-header"><h2>Musikmeister</h2></div>
      <div class="j-module n j-text">
        <ul>
          <li>Schmied Albin – 1927 bis 1954 (Kriegsunterbrechung)</li>
          <li>Kinshofer Flori – 1954 bis 1964</li>
          <li>Marius (Marienstein) – 1964 bis 1966</li>
          <li>Zeisl Max (Thies) – 1966 bis 1967</li>
          <li>Kandlinger Sepp – 1967 bis 1968</li>
          <li>Ransberger Anian – 1968 bis 1969</li>
          <li>Liebe Willi – 1969 bis 1970</li>
          <li>Kandlinger Sepp – 1970 bis 1981</li>
          <li>Geiger Sepp – 1981 bis 1995</li>
          <li>Ready James – 1995 bis 2012</li>
          <li>Weber Hans – seit Januar 2013</li>
        </ul>
      </div>
    </div>
    <br class="cc-clear">
  </div>
{{ end }}
